.row {
	margin-left: 20px;
	color: #ffff;
}

.row_posters {
	display: flex;
	overflow-y: hidden;
	overflow-x: scroll;
	padding: 20px;
	-ms-overflow-style: none;
	-webkit-overflow-scrolling: auto;
}

.row_posters::-webkit-scrollbar {
	width: 1px;
	height: 8px;
	background-color: #111;
	border-radius: 20px;
}

.row_posters::-webkit-scrollbar-thumb {
	background: #888;
}

* {
	scrollbar-width: thin;
	scrollbar-color: gray #111;
}

.row_poster {
	object-fit: contain;
	width: 100%;
	max-height: 100px;
	transition: transform 450ms;
	margin-right: 10px;
}

.row_poster:hover {
	transform: scale(1.08);
}

.row_posterLarge {
	max-height: 250px;
}

.row_posterLarge:hover {
	transform: scale(1.09);
}
